/*
 *
 * CSS written based on SMACSS architecture.
 * To learn more, visit: http://smacss.com/
 * 
 * For simplicity, no reset or normalize is added. 
 * To learn more, visit: https://css-tricks.com/reboot-resets-reasoning/
 *
*/
/* ---- Base Rules ---- */
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  background: #88cbab;
  background: -webkit-gradient(linear, left top, left bottom, from(#f43530), to(#46454b));
  background: linear-gradient(180deg, #f43530 0%, #46454b 100%);
  margin: 0;
  font-family: 'Roboto', Merriweather, serif;
  color: #fff;
}

/* Typeography General*/
h1 {
  font-family: 'Roboto', 'Fira Sans', sans-serif;
  font-size: 3em;
  margin: 2em 1rem;
}

span {
  display: block;
  padding: 1rem;
  text-transform: uppercase;
  font-weight: bolder;
  background-color: #fff;
  position: fixed;
  border-radius: 5px;
  right: 0;
  bottom: 0;
  margin: 1rem;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4), 0 1px 2px rgba(0, 0, 0, 0.6);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4), 0 1px 2px rgba(0, 0, 0, 0.6);
  cursor: pointer;
  z-index: 5;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #46454b;
}

span:hover {
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6), 0 1px 2px rgba(0, 0, 0, 0.6), 0 1px 10px rgba(255, 255, 255, 0.8);
          box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6), 0 1px 2px rgba(0, 0, 0, 0.6), 0 1px 10px rgba(255, 255, 255, 0.8);
}

.display-up {
  opacity: 1;
  visibility: visible;
}

.collapse-btn {
  padding: 1rem;
  background-color: #46454b;
  border-radius: 0.5rem;
  cursor: pointer;
}

.collapse-section {
  overflow: hidden;
  max-height: 0;
}

@media only screen and (min-width: 35em) {
  h1 {
    font-size: 7rem;
    margin: 2em 4rem 1em;
    letter-spacing: 0.2rem;
  }
}

h2 {
  border-bottom: 1px solid #00aabb;
  font-family: 'Roboto', Sans-Serif;
  font-size: 2rem;
}

p {
  line-height: 1.6em;
  font-size: 14pt;
}

/* ---- Layout Rules ---- */
main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 90vw;
      grid-template-columns: 90vw;
  -ms-grid-rows: (max-content)[auto];
      grid-template-rows: repeat(auto, -webkit-max-content);
      grid-template-rows: repeat(auto, max-content);
  grid-gap: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-hero {
  min-height: 40vh;
  padding-top: 3em;
}

section {
  position: relative;
  margin: auto;
  -webkit-transition: max-height .5s ease-in-out;
  transition: max-height .5s ease-in-out;
}

/* ---- Module Rules ---- */
/* Navigation Styles*/
.navbar__menu ul {
  padding-left: 0;
  margin: 0;
  text-align: right;
}

.navbar__menu li {
  display: inline-block;
}

.navbar__menu .menu__link {
  display: block;
  padding: 1em;
  font-weight: bold;
  text-decoration: none;
  color: #f43530;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}

.navbar__menu .menu__link:hover {
  background: #46454b;
  color: #fff;
  -webkit-transition: ease 0.3s all;
  transition: ease 0.3s all;
}

.menu__active-link {
  background-color: #f43530;
}

.menu__active-link a {
  color: #fff !important;
}

/* Header Styles */
.page__header {
  background: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
  visibility: visible;
  opacity: 1;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.hide-navbar {
  visibility: hidden;
  opacity: 0;
}

/* Footer Styles */
.page__footer {
  padding: 3em;
}

.page__footer p {
  text-align: center;
  font-size: 0.8rem;
}

/* ---- Theme Rules ---- */
/* Landing Container Styles */
.landing__container {
  padding: 1em;
  text-align: left;
}

@media only screen and (min-width: 35em) {
  .landing__container {
    max-width: 50em;
    padding: 4em;
  }
}

section:nth-of-type(even) .landing__container {
  margin-right: 0;
  margin-left: auto;
  text-align: right;
}

/* Background Circles */
/* Note that background circles are created with psuedo elements before and after */
/* Circles appear to be random do to use of :nth-of-type psuedo class */
section:nth-of-type(odd) .landing__container::before {
  content: '';
  background: rgba(255, 255, 255, 0.187);
  position: absolute;
  z-index: -5;
  width: 20vh;
  height: 20vh;
  border-radius: 50%;
  opacity: 0;
  -webkit-transition: ease 0.5s all;
  transition: ease 0.5s all;
}

section:nth-of-type(even) .landing__container::before {
  content: '';
  background: white;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.1)), to(rgba(255, 255, 255, 0.2)));
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.2) 100%);
  position: absolute;
  top: 3em;
  right: 3em;
  z-index: -5;
  width: 10vh;
  height: 10vh;
  border-radius: 50%;
  opacity: 0;
  -webkit-transition: ease 0.5s all;
  transition: ease 0.5s all;
}

section:nth-of-type(3n) .landing__container::after {
  content: '';
  background: white;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.1)), to(rgba(255, 255, 255, 0.2)));
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.2) 100%);
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -5;
  width: 10vh;
  height: 10vh;
  border-radius: 50%;
  opacity: 0;
  -webkit-transition: ease 0.5s all;
  transition: ease 0.5s all;
}

section:nth-of-type(3n + 1) .landing__container::after {
  content: '';
  background: white;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.1)), to(rgba(255, 255, 255, 0.2)));
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.2) 100%);
  position: absolute;
  right: 20vw;
  bottom: -5em;
  z-index: -5;
  width: 15vh;
  height: 15vh;
  border-radius: 50%;
  opacity: 0;
  -webkit-transition: ease 0.5s all;
  transition: ease 0.5s all;
}

/* ---- Theme State Rules ---- */
/* Section Active Styles */
/* Note: your-active-class class is applied through javascript. You should update the class here and in the index.html to what you set in your javascript file.  */
section.your-active-class {
  border-radius: 5px;
  background: black;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.2)));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.2) 100%);
}

section.your-active-class .landing__container::before {
  opacity: 1;
  -webkit-animation: rotate 4s linear 0s infinite forwards;
          animation: rotate 4s linear 0s infinite forwards;
}

section.your-active-class .landing__container::after {
  opacity: 1;
  animation: rotate 5s linear 0s infinite forwards reverse;
}

/* Section Active Styles Keyframe Animations */
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg) translate(-1em) rotate(0deg);
            transform: rotate(0deg) translate(-1em) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translate(-1em) rotate(-360deg);
            transform: rotate(360deg) translate(-1em) rotate(-360deg);
  }
}
@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg) translate(-1em) rotate(0deg);
            transform: rotate(0deg) translate(-1em) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translate(-1em) rotate(-360deg);
            transform: rotate(360deg) translate(-1em) rotate(-360deg);
  }
}
/*# sourceMappingURL=styles.css.map */